.UserMenu {
    width: 100%;
    height: 100%;
    padding: 8px;
    background: white;
    box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  
  .MenuHeader {
    align-self: stretch;
    height: 34px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .AkajCeNaSchvLenie {
    align-self: stretch;
    color: #1E1E1E;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 22.40px;
    word-wrap: break-word;
  }
  
  .MenuSeparator {
    align-self: stretch;
    height: 17px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .Rule {
    align-self: stretch;
    height: 1px;
    background: #D9D9D9;
  }
  
  .MenuSection {
    align-self: stretch;
    height: 210px;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .MenuItem {
    width: 285px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
  }
  
  .User,
  .Lock,
  .LogOut {
    width: 20px;
    height: 20px;
    position: relative;
  }
  
  .Body {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: inline-flex;
  }
  
  .Row {
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .Label {
    flex: 1 1 0;
    color: #1E1E1E;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 22.40px;
    word-wrap: break-word;
  }
  
  .Description {
    align-self: stretch;
    color: #757575;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19.60px;
    word-wrap: break-word;
  }
  
  .MenuShortcut {
    border-radius: 8px;
  }
  